"It is recommended to use on a cuda compatible device, but it will work on cpu too."

torch>=2.0.0
torchvision>=0.15.0
matplotlib>=3.7.0
numpy>=1.24.0
pandas>=1.5.0
tqdm>=4.65.0
mlxtend>=0.22.0
torchmetrics>=1.0.0